

/*tablet to 1200px (width)*/
@media only screen and (max-width: 1200px){

.hero-text-box{
	width: 100%;
	padding: 0 2%;
}

.row{ 
	padding: 0 2%;
}

/*Tablet in portrait mode 768px to 1023px*/
@media only screen and (max-width: 1023px){

	body { font-size: 14px; }
	section { padding: 60px 0 }
	.works-step div{ padding: 10px }

	.long-copy{
	width: 80%;
	margin-left: 10%; /*Perfectly balanced: 10% margin-left, 80% width, 10% margin-right*/
	}

	.steps-box {margin-top: 10px;}
	.steps-box:last-child {margin-top: 70px;}
	.works-step {margin-bottom: 40px;}
	.works-step:last-of-type {margin-bottom: 60px}

	.app-screen{ width: 50%; }


	.icon-small{ width: 17px; }

	.plan-box{width: 100%;
		margin-left: 0%
	}

	.contact-form{
		width: 80%;
	}

}


/*Medium sized phones 481px to 767px*/
@media only screen and (max-width: 767px){


	body{font-size: 10px;}
	section{padding: 30px 0;}

	.row,
	.hero-text-box{ padding: 0 4%; }

	.col {width: 100%;}

	.mobile-nav-icon{
		margin-top: 30px;
		display: inline-block;  /*Displays the mobile nav icon*/
		border-bottom: none;
	}


	.main-nav li{
		display: block; /*Displays the navigation list items as block elements so they are beneath each other*/
	}


	.main-nav li a:link,
	.main-nav li a:visited{
		display: block;
		border: 0;
		padding: 10px 0;
		font-size: 100%;
	}



	.main-nav{
		float: left;
		margin-top: 35px;
		margin-left: 25px;

	}

	.sticky .main-nav{margin-top: 10px;}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited{
		padding: 10px 0;
	}

	.sticky .mobile-nav-icon ion-icon{color: #555;}
	
	.sticky .mobile-nav-icon{
		margin-top: 15px;
	}



	h1{ font-size: 180%; }
	h2{	font-size: 150%; }

	.long-copy{
		width: 100%;
		margin-left: 0%;
	}

	.works-steps { margin-bottom: 40px; }
	.works-step:last-of-type { margin-bottom: 60px; }

	.works-step div{
		height: 40px;
		width: 40px;
		padding: 4px;
		margin-right: 15px;
		font-size: 120%;
	}

	.steps-box:first-child
	{
		text-align: center; /*centers the freakin iphone*/
	}

	


}



/* Small Phones: 1px to 480px*/
@media only screen and (max-width: 480px){

}